.dashboard {
  overflow: scroll;
  .neo {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    margin: 15px;
  }
  .status {
    color: white;
    padding: 3px;
    width: 100px;
    font-weight: bolder;
  }
  .INPROGRESS {
    background-color: skyblue;
  }
  .NEW {
    background-color: #ffc107;
    padding: 0px 25px;
  }
  .COMPLETED {
    background-color: green;
  }
  .CANCELLED {
    background-color: red;
  }
  .activeUsers {
    display: flex;
    justify-content: space-between;
    .subname {
      font-size: 13px;
    }
    .box {
      width: 175px;
    }
  }
  .mapFilters {
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
  }
  .graph {
    margin-top: 30px;
  }
  .filterBox {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
    .box {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid black;
      max-width: 175px;
    }
  }
  .boxCard {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-around;
    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      width: 200px;
      height: 150px;
      background-color: white;
      border-radius: 10;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .values {
      width: 80%;
      font-size: 27px;
      font-weight: bolder;
      border-bottom: 1px solid grey;
    }
  }
}
